.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
node_modules/
app.log
surveillance_data.json
surveillance.db
__pycache__/
.env

# Log files
*.log
frontend.log
frontend_dev.log
backend.log
server.log
