:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.6;
  font-weight: 400;

  color-scheme: light dark;
  --text-color-light: #213547;
  --text-color-dark: rgba(255, 255, 255, 0.87);
  --background-color-light: #ffffff;
  --background-color-dark: #1a1a1a;
  --primary-color: #007bff;
  --primary-color-hover: #0056b3;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}

#root {
  display: flex;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: var(--background-color-light);
    color: var(--text-color-light);
  }
}
